body {
    margin: 0;
}

#info_header{
    height: 150px;
    width: 100%;
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
}

.pattern{
    padding-top: 90px;
    padding-left: 5px;
}

.logo{
    width: 200px;
}

main{
    padding-left: 5px;
}

#main_title{
    margin-top: 15px;
    margin-bottom: 15px;
}

h1{
    margin: 0;
}

#autore{
    display: inline;
    color: cornflowerblue;
}

.info_testo{
    color: darkgray;

}

.teto_secondario{
    font-size: 0.75rem;
}

p{
    display: inline;
}

table{
    width: 100%;
    border-collapse: collapse;
}

thead{
    background-color: rgb(51, 181, 233);
    color: white;
}

.tr_dispari{
    background-color: skyblue;
}

#articoli_collegati{
    margin-top: 20px;
}

.monitor{
    width: 250px;
    height: 200px;
    background-image: url("../img/monitor.jpg");
    margin-top: 10px;
   
}
.grafico{
    width: 250px;
    height: 200px;
    background-image: url("../img/graph.jpg");
  
}

.foto_text{
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
}